.viewer {
  width: 100%;
  overflow: auto;
  padding: 10px;
  background: rgba(10, 10, 12, 88%);
  border: 1px solid rgba(255, 255, 255, 8%);
  border-radius: 6px;
}

.viewer :global(.react-json-view) {
  word-break: break-word;
}
